<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename = 'styles/styles.css')}}" rel="stylesheet">

</head>

<body class="text-center" data-gr-c-s-loaded="true">
    <form class="form-signin" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">First Name</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="First Name" required=""
            autofocus="">
        <div class="error">
            {% if errors %}
            {% for error in errors %}
            {{ error }}
            {% endfor %}
            {% endif %}
        </div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
            required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="error">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for m in messages %}
            {{m}}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </form>


</body>

</html>